<form method="post">
    <label for="number">Nombre d'objets à ajouter pour le produit {{ product.name }}</label> <input  type="number" name="number" id="number"/>
    <input type="submit" value="générer"/>
</form>