# Cache and logs (Symfony2)
/site/app/cache/*
/site/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/site//var/cache/*
/site//var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/site//app/config/parameters.yml
/site//app/config/parameters.ini

# Managed by Composer
/site/app/bootstrap.php.cache
/site/var/bootstrap.php.cache
/site/bin/*
!bin/console
!bin/symfony_requirements
/site/vendor/

# Assets and user uploads
/site/web/bundles/
/site/web/uploads/

# PHPUnit
/site/app/phpunit.xml
/site/phpunit.xml

# Build data
/site/build/

# Composer PHAR
/site/composer.phar

/site/*~
