<footer class="main-footer">
	<div class="container">
		<div class="newsletter">
			<div class="logo-container">
				{{ icons('logo_bg_black')|raw }}
			</div>
			<p>L'essayer c'est l'adopter.</p>
			<h3>Newsletter</h3>
			<div class="input">
				<input type="text" placeholder="Vôtre email">
				<a href="#" class="submit">Valider</a>
			</div>
		</div>
		<div class="about">
			<h3>À propos</h3>
			<ul>
				<li><a href="#">Concept</a></li>
				<li><a href="#">Presse</a></li>
				<li><a href="#">Mentions légales</a></li>
				<li><a href="#">Conditions général d'utilisation</a></li>
				<li><a href="#">Politique de confidentialité</a></li>
			</ul>
		</div>
		<div class="help">
			<h3>Besoin d'aide</h3>
			<ul>
				<li><a href="#">Contact</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="mailto:hello@wygiwyt.com">hello@wygiwyt.com</a></li>
			</ul>
		</div>
	</div>
</footer>