<div class="popin-container">
	<div class="popin">
		<div class="top-header">
			<div class="container">
				<div class="slider-product">
					<div class="slides-container">
						<div class="slides">
						</div>
					</div>
					<ul>
					</ul>
				</div>
				<div class="product-info">
					<a href="#" class="icon-container favorites">
						{{ icons('heart')|raw }}
						<span>Favoris</span>
					</a>
					<h1>Name</h1>
					<h2>Brand</h2>

					<p class="disponibility">Disponibility</p>

					<div class="action-container">
						<div>
							<div class="price-container">
								<a href="#" class="button">Ajouter à mon pack</a>	
								{% if page == 'list-product' and page is defined %}
								<p class="price">{{ product.price|ttcPrice }}</p>
								{% elseif  product.taxe is defined and product.taxe > 0 %}
								<p class="price">+ {{ product.taxe }}</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>