<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<header>
{% if app.user %}
user connecté : {{ app.user.username }}
{% else %}
<h1>Register</h1>
    {% render(path("bp_profile_registration_registerembed")) %}
    <h1>Login</h1>
    {% render(path("bp_profile_security_embedlogin")) %}
{% endif %}
    <h1>Panier</h1>
    {% render(path("bp_cart_default_embedcart")) %}
</header>
<div>
    <h1>Main</h1>
{% block body %}
{% endblock body %}

</div>
<footer>
    
</footer>
{% include  "BpCoreBundle::tawkto.html.twig" %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
</body>
</html>